html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}
.container
{ height: 100%;
  width: 100%;
  position: relative;
  background:url('https://www.j-26.com/assets/seo-for-webpages.jpg');	
  background-size: cover;
  background-position: center;
  visibility: visible;
}
.login
{  padding-top: 15%;
   padding-left: 40%; 
   font-weight: bold;
   font-size: 20px;
   color: black;
   font-family: garamond;



}
.inputbox
{
	width: 30%;
    padding:10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.button
{   width: 10%;
	height: 30px;
	 border-radius: 8px;
    font-weight: bold;
    font-family: garamond;
    background-color:#D7DBDD;
    opacity: 5%;
    font-size: 16px;
    padding: 0px;
    border:0px;

}

.click
{
	 width: 10%;
	height: 30px;
	
    font-weight: bold;
    font-family: cursive;
    background-color: transparent;
    opacity: 5%;
    font-size: 16px;
}